/* {
	display:flex;
	justify-content: space-around;
	align-items: center;
	 background-color: rgba(0,0,0, .9); 
	font-family: Avenir, sans-serif;
	height: 10vh;
	background-color: rgba(0,0,0, .9);

}

.navbar{
	background-color: black;
	overflow: hidden;
}

.navbar a span{
	color: green;
	/*text-align: center;
	padding: 2vw;
	text-decoration: none;
}

li a:hover{
	color:red;
}
*/

/*---------------------------------------------------------------------*/

/*For Gradient Colors*/
/*https://www.eggradients.com/gradient-color*/

/*#background{
	width:100vw;
	min-height:100vh;
	background-color: #ffcfdf; 
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}*/

/*html{
	background-color: #ffcfdf; 
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}*/

nav{
	position: fixed;
	width:100vw;
	background-color: #808080
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: color #000000;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #000000;
}

a {
	text-decoration: none;
} 

p {
	/*position:relative;*/
	/*padding:10px;*/
	/*margin:0px;*/
}

.shiftR{
	position:relative;
	font-family:Monospace; 
	font-size:100px;
	left:250px;
}

.imgsource{
	/*background:brown;*/
	/*display:flex;*/
	/*display:inline-block;*/
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: block;
	left:200px;
	top:825px;
}

.imgsourceTwo{
	/*background:brown;*/
	/*display:flex;*/
	/*display:inline-block;*/
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	display: block;
	left:800px;
	top:800px;
}