/* {
	display:flex;
	justify-content: space-around;
	align-items: center;
	 background-color: rgba(0,0,0, .9); 
	font-family: Avenir, sans-serif;
	height: 10vh;
	background-color: rgba(0,0,0, .9);

}

.navbar{
	background-color: black;
	overflow: hidden;
}

.navbar a span{
	color: green;
	/*text-align: center;
	padding: 2vw;
	text-decoration: none;
}

li a:hover{
	color:red;
}
*/

/*---------------------------------------------------------------------*/

nav{
	width:100vw;
	background-color: #808080
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: color #000000;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #000000;
}

a {
	text-decoration: none;
} 