/*For Gradient Colors*/
/*https://www.eggradients.com/gradient-color*/

/*Issue with scrolling to right side, shows blue block*/

/*Hiding the overflow of the empty space*/
/*https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend/5805134*/

body{
	width:auto; 
	height:auto;

	background-color: #f9c1b1;
	background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
	padding:0px;
    overflow-x:hidden;

/*    background-image: url("https://i.gifer.com/origin/6b/6b0f19174a89fbe967cbdec6a285344a_w200.gif");
 	background-color: #cccccc;*/

	position:relative;
}


nav{
	position: fixed;
	width:100vw;
	background-color: #808080
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: color #000000;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #000000;
}

a {
	text-decoration: none;
} 

.shiftR{
	position:relative;
	font-family:Monospace; 
	font-size:100px;
	left:200px;
	margin-left: auto;
	margin-right: auto;
}

.imgsource{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left:200px;
	top:825px;
}

.imgsourceTwo{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left:800px;
	top:800px;
}

/*.positioned{
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	margin: auto;
  	min-width: 100%;
  	min-height: 100%;
}*/
/*For NetArt experience*/
/*https://www.w3schools.com/css/css3_backgrounds.asp