body{
	background-color: #f9ea8f;
	background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

/*Image hover*/
/*https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only*/

.text{
	font-size: 16px;
	/*display:flex;*/
    position: absolute;
    left: 0;
    right: 0;
    /*margin: 0 auto;*/
    margin-right: auto;
    margin-left: auto;
	width: 10%;

}

/*.hover_image {*/
/*    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
	width: 10%;*/
	/*max-width: 600px;*/
	/*width: 500px;*/
	/*height: 25%;*/
	/*padding: 20px;*/
	/*height: 50%;*/
/*}*/

.hover_image a span{
	/*display:none; !!!*/

	position: absolute;
	display: none;*/
	/*z-index: 99;*/
}

.hover_image a:hover span{
	display:block;
	left:50px;
	/*top:0px;*/
	position: absolute;
	padding-left: 50px;
}

/*.hover_image:hover .image{
	opacity: 0.3;
	padding: 30px; comment out
}*/

/*.hover_image:hover .middle{
	opacity: 1;
	padding: 30px; comment out
}*/

/*.text{
	color:black;
	font-size: 20px;
	padding: 16px 32px;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	padding: 30px;
}*/

/*.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	padding: 40px; comment out
}*/