body{
	background-color:#D8F3FA;
}

.column{
	float:left;
	width: 30%;
	padding: 20px;
}

.bottom_display::after{
	content="";
	clear:both;
	display:table;
}

.test_font{
	font-family: fantasy;
	font-size: 100px;
	padding:20px;
}
.test_font:hover{
	/*background-color: #808080;*/
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.main_font{
	text-align:center; 
	font-size:70px; 
	font-family:Monaco; 
	color:#3366FF;
}

.main_font:hover{
	background-image: linear-gradient(to right, red, yellow, blue, green);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
}

.left{
	float:left;
	width:20%;
	padding:5px;
}

.right{
	float:right;
	width:20%;
	padding:5px;	
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*padding:5px;*/
}
