.grid-layout{
	display:grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding:10px;
}

.grid-layout > div{
	text-align: center;
	vertical-align: center;
	/*font-family: 'IM Fell English SC', serif;*/
	margin: auto;
	/*font-size: 30px;*/
	padding:20px, 0;
}

p{
	text-align: center;
}

body{
    background-color:gray;
    color:white;
}
